<div class="container__gib-card">
  <div class="big-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMlSeidolSb1eFwxhPpmc_VLlpP0OOfQyv_A&s" alt=""
    width="500px">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, minima cumque sequi ipsam autem vitae distinctio doloremque perferendis illum velit, ducimus magni, quis tempore voluptatibus quos! Esse rerum voluptatem omnis.</p>
  </div>
</div>
